canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
}

.flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex2>* {
  margin: 1%;
  height: 10%;
  width: 46%;
}